---
import '../style/tech-card.css';

interface Props {
    icon: string;
}

const { icon } = Astro.props;
---

<div class="tech-card">
    <div class="m-2">
        <img src={icon}>
    </div>
</div>
