@font-face {
    font-family: 'Persona5Font';
    src: url('../fonts/p5hatty.woff2') format('woff2'),
}

.description {
    padding: 20px;
    margin-top: 20px;
    margin-inline: 600px;
}

.box {
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
    background-color: #f8f8f8;
}

html {
    font-family: 'Persona5Font';
}