---
import TechCard from '../components/Tech-card.astro';
import ExperienceCard from '../components/Experience_card.astro';
import '../style/index.css';
---

<!doctype html>
<html lang="en">
	<head>
		<title>Portfolio</title>
		<link rel="icon" type="image.png" href="favicon.png" />
	</head>
	
	<main>
		<h1 class="mt-10 text-6xl flex justify-center"> Hey I'm Pablo Pais Ficret </h1>
		<h2 class="mt-5 text-5xl flex justify-center"> Computer Engineer </h2>
		<p class="description text-3xl">
			Computer Engineer specialized in web development, backend development and video game development. 
			I'm always eager to learn and apply my knowledge to ensure things work as intended.   
		</p>
	</main>

	<body>
		<h1 class="text-6xl flex justify-center"> Technologies </h1>
			
		<div class="flex justify-center">
			<TechCard icon="HTML5.png" />
			<TechCard icon="CSS3.png" />	
			<TechCard icon="JavaScript.svg" />	
		</div>
		<div class="flex justify-center">		
			<TechCard icon="TypeScript.svg" />
			<TechCard icon="React.svg" />
			<TechCard icon="Python.png" />
		</div>
		<div class="flex justify-center">
			<TechCard icon="C++.png"/>
			<TechCard icon="C_Sharp.svg" />
			<TechCard icon="Ruby.svg" />
		</div>
		<div class="flex justify-center">	
			<TechCard icon="PostgresSQL.svg" />
			<TechCard icon="MongoDB.svg" />
			<TechCard icon="Unity.png" />
		</div>

		<h1 class="mt-32 text-6xl flex justify-center"> Experience </h1>
		<ExperienceCard 
			positionName="Backend Development" 
			companyName="Acid Tango" 
			companyCountry="Spain" 
			dateSpan="Febrero 2024 - Mayo 2024"
			description="During my internship, I developed and optimized an API that integrated the services of two companies, facilitating their communication. Applying agile methodologies, I worked in a team to improve the performance and scalability of the API, which allowed me to apply technical knowledge in a real environment and strengthen my software development skills." 
		/>

		<h1 class="mt-32 text-6xl flex justify-center"> What can I do? </h1>
		<div class="mx-56">
			<img src="Top_Wave.svg">
		</div>
		<div class="bg-red-600 mx-56">
			
		</div>
		<div class="mx-56">
			<img src="Down_Wave.svg">
		</div>
	</body>
</html>