---
import Card from '../components/Card.astro';
import '../style/index.css';
---

<!doctype html>
<html lang="en">
	<head>
		<title>Portfolio</title>
		<link rel="icon" type="image.png" href="favicon.png" />
	</head>
	
	<main>
		<h1 class="mt-10 text-6xl flex justify-center"> Hey I'm Pablo Pais Ficret </h1>
		<h2 class="mt-5 text-5xl flex justify-center"> Computer Engineer </h2>
		<div class="description text-3xl">
			<p>
				Computer Engineer specialized in web development, backend development and video game development. 
				I'm always eager to learn and apply my knowledge to ensure things work as intended.   
			</p>
		</div>
	</main>

	<body>
		<h1 class="mt-24 text-6xl flex justify-center"> Technologies </h1>
			
		<div class="flex justify-center">
			<Card icon="TypeScript.svg" />
			<Card icon="HTML5.png" />		
			<Card icon="CSS3.png" />
			<Card icon="JavaScript.svg" />
			<Card icon="React.svg" />
			<Card icon="Python.png" />
		</div>
		<div class="flex justify-center">
			<Card icon="C++.png"/>
			<Card icon="C_Sharp.svg" />
			<Card icon="Ruby.svg" />
			<Card icon="PostgresSQL.svg" />
			<Card icon="MongoDB.svg" />
			<Card icon="Unity.png" />
		</div>
	</body>
</html>